:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 93%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: box-shadow: 0 2px 8px 2px rgba(178,178,178,0.189);
    /* background-image: linear-gradient(to right bottom, #1f1f1f, #1f1f1f, #1f1f1f, #1f1f1f, #1f1f1f); */
    background-image: linear-gradient(to right, #2d2a2e, #242326, #1c1c1e, #141516, #0a0b0c);
    /* background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000); */

}


.offer{
    .secContainer{
        .mainContent{
            gap: 5rem;
            .singleOffer{
                display: flex;
                border-radius: 1rem;
                background: var(--whiteColor);
                overflow: hidden;
                padding: .5rem;
                box-shadow: 0 2px 8px 2px rgba(178,178,178,0.189);
                margin-bottom: 0.8rem;
                    
                .icon{
                    font-size: 20px;
                    color: var(--textColor);
                }
                
                small{
                    font-weight: 500;
                    color: var(--textColor);
                }
                .destImage{
                    position: relative;
                    height: 200px;
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;
                    /* flex: 1; */

                    img{
                        height: 100%;

                    }

                     
                    /* .discount{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        padding: 5px 10px;
                        background: var(--whiteColor);
                        border-radius: 3rem;
                        font-size: 10px;
                        font-weight: 500;
                    } */
                }

                .offerBody{
                    padding: 1rem;
                    /* flex: 2; */

                    .price{
                        justify-content: space-between;

                        h4{
                            color: var(--blackColor);
                            font-weight: 700;
                            font-size: 1.1rem;
                        }

                        .status{
                            padding: 5px 10px;
                            color: var(--HoverColor);
                            background: var(--greyBg);
                            font-size: 10px;
                            font-weight: 600;
                            border-radius: 3rem;
                        }
                    }
                    .amenities{
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        padding: 1rem 0;
                        gap: .5rem;

                        .singleAmenity{
                            padding: 5px 10px;
                            border-radius: 5px;
                            background: var(--greyBg);
                            gap: .5rem;
                        }
                    }
                        .btn{
                            margin-top: 1rem;
                            width: 100%;
                            text-align: center;
                            justify-content: center;
                            padding: .6rem;
                            color: var(--whiteColor);
                            font-weight: 600;
                            gap: .5rem;

                             .icon{
                                color: var(--whiteColor);
                             }
                        }
                }

                &:hover{
                    transform: translateY(-7px);
                }
            }
        }
    }
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 32px;
    padding-top: 3.5rem;
    text-align: justify;
    border-radius: 1rem;
    height: 660px;
    width: 850px;
}

.hading{
    font-size: 32px;
    padding-bottom: 2rem;
    position: relative;
    width: 150px;
    margin-top: -40px;
    /* background-color: aqua; */

}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

@media screen and (max-width: 479px){
    .offer{
        padding-top: 10rem;
    }
    
}

